<ion-grid>
    <ion-row>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="12" sizeXl="12" style="padding:0px;">
            <ion-segment color="success" [value]="filter" [scrollable]="true" (ionChange)="changeFilter($event)">
                <ion-segment-button value="All">All</ion-segment-button>
                <ion-segment-button value="Medication">Medication</ion-segment-button>
                <ion-segment-button value="Pharmacies">Pharmacies</ion-segment-button>
                <ion-segment-button value="Coupons">Coupons</ion-segment-button>
                <ion-segment-button value="Deals">Deals</ion-segment-button>
            </ion-segment>
        </ion-col>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="8" sizeLg="8" sizeXl="8" style="padding:0px;">
            <ion-item line="none">
                <ion-icon name="search" slot="start"></ion-icon>
                <ion-input type="text" [placeholder]="'Search ' + filter" [(ngModel)]="searchTerm"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="6" sizeMd="2" sizeLg="2" sizeXl="2" style="padding:0px;">
            <ion-button color="medium" expand="block">Filter By</ion-button>
        </ion-col>
        <ion-col sizeXs="6" sizeSm="6" sizeMd="2" sizeLg="2" sizeXl="2" style="padding:0px;">
            <ion-button color="success" expand="block" (click)="getSearch()" [disabled]="4 > searchTerm.length">Search</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>