<ion-menu contentId="main" type="overlay">
    <ion-header>
        <ion-toolbar>
            <ion-title color="orange">
                Menu
            </ion-title>
            <ion-buttons slot="end">
                <ion-menu-toggle>
                    <ion-button fill="clear" color="orange">
                        <fa-icon icon="times"></fa-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true">
        <ion-list>
            <ion-menu-toggle autoHide="false" *ngFor="let p of menus">
                <ion-item [routerLink]="[p.url]" routerLinkActive="active" color="light">
                    <fa-icon slot="start" [icon]="p.icon"></fa-icon>
                    <ion-label>{{p.title}}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
        <ion-menu-toggle autoHide="false">
            <ion-button shape="round" color="orange" expand="block" [routerLink]="['/user/sign-in']" *ngIf="!logged">SIGN IN</ion-button>
            <ion-button shape="round" color="orange" expand="block" (click)="logout()" *ngIf="logged">Logout</ion-button>
        </ion-menu-toggle>
    </ion-content>
</ion-menu>
<ion-header *ngIf="headerShow">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="orange"></ion-menu-button>
        </ion-buttons>
        <ion-title color="orange">{{title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" color="orange" (click)="openShopping($event)">
                <fa-icon icon="shopping-cart"></fa-icon>
            </ion-button>
            <ion-button fill="clear" color="orange" (click)="openNotification($event)">
                <fa-icon icon="bell"></fa-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>