<ion-header>
    <ion-toolbar>
        <ion-title>
            Results search
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" color="orange" (click)="modalCtrl.dismiss();">
                <fa-icon icon="times"></fa-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-search-bar [searchTerm]="searchTerm" [filter]="filter" (search)="search($event)"></app-search-bar>
    <h5 class="text-gray" style="text-align: center;">{{results.length}} results</h5>
    <ion-list>
        <ion-item *ngFor="let item of results">
            <ion-label>
                <h2 *ngIf="item.stype === 'medication'">{{item.commonname}}</h2>
                <h2 *ngIf="item.stype === 'pharmacy'">{{item.pharmacy_name}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>