<ion-content [fullscreen]="true">
    <form [formGroup]="formLogin" (ngSubmit)="sendLogin()">
        <div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; padding: 0 15px 0 15px; margin-top: 30px; margin-bottom: 30px;">
            <img src="assets/imgs/logo.png" style="position: relative; width: 45%; margin-bottom: 10px;">
        </div>
        <div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; padding: 0 15px 0 15px; margin-top: 30px; margin-bottom: 30px;">
            <h4 style="color: var(--ion-color-dark); font-weight: bold; text-align: center;">Welcome Back!!!
                <br> Sign In to the platform</h4>
        </div>

        <ion-list>
            <ion-item lines="none">
                <ion-input type="text" placeholder="Enter Email/ Mobile Number" formControlName="userlink">
                    <fa-icon icon="envelope" slot="end" style="width: 30px; text-align: center; color: var(--ion-color-darkmedium)"></fa-icon>
                </ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.userlink">
                <div class="error-message" *ngIf="formLogin.get('userlink').hasError(validation.type) && (formLogin.get('userlink').dirty || formLogin.get('userlink').touched)">
                    <ion-item lines="none">
                        <span style="color: var(--ion-color-danger)">{{ validation.message }}</span>
                    </ion-item>
                </div>
            </ng-container>
            <ion-item lines="none">
                <ion-input type="password" placeholder="Enter Password" formControlName="password1">
                    <fa-icon icon="lock" slot="end" style="width: 30px; text-align: center; color: var(--ion-color-darkmedium)"></fa-icon>
                </ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.password1">
                <div class="error-message" *ngIf="formLogin.get('password1').hasError(validation.type) && (formLogin.get('password1').dirty || formLogin.get('password1').touched)">
                    <ion-item lines="none">
                        <span style="color: var(--ion-color-danger)">{{ validation.message }}</span>
                    </ion-item>
                </div>
            </ng-container>
        </ion-list>

        <div style="position: relative; width: 100%; padding: 0 15px 0 15px; margin-bottom: 10px;">
            <ion-grid class="ion-no-padding">
                <ion-row class="ion-no-padding">
                    <ion-col class="ion-no-padding">
                        <ion-item class="ion-no-padding" lines="none">
                            <ion-toggle color="orange"></ion-toggle>
                            <ion-label class="ion-no-padding" style="font-size: 13px; color: var(--ion-color-darkmedium)">Remenber me</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col style="text-align: right;" class="ion-no-padding">
                        <ion-item class="ion-no-padding" lines="none" [routerLink]="['/']">
                            <ion-label class="ion-no-padding" style="font-size: 13px; text-align: right; color: var(--ion-color-darkmedium)">Forgot password?</ion-label>
                        </ion-item>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div style="position: relative; width: 100%; padding: 0 15px 0 15px; display: flex; flex-direction: column; align-items: center; align-content: center;">
            <ion-button color="secondary" type="button" [disabled]="formLogin.get('userlink').invalid || disabledOtp" (click)="sendOtp()">SEND OTP</ion-button>
        </div>


        <ion-list>
            <ion-item lines="none">
                <ion-input type="text" placeholder="Enter Code" (keyup)="validateOtp()" formControlName="otp">
                    <fa-icon icon="clock" slot="end" style="width: 30px; text-align: center; color: var(--ion-color-darkmedium)"></fa-icon>
                </ion-input>
            </ion-item>
        </ion-list>

        <div style="color: var(--ion-color-darkmedium); font-size: 13px; position: relative; width: 100%; padding: 0 15px 0 15px; text-align: right; margin-bottom: 15px;">
            Did'nt receive your code? <a [routerLink]="['']">Resend code</a>
            <br>
            <br>
            <br>
            <ion-button color="success" expand="block" type="submit" [disabled]="formLogin.invalid || !validOtp">SIGN IN</ion-button>
        </div>

        <h5 style="text-align: center; font-weight: normal; color: var(--ion-color-darkmedium); font-size: 13px;">--------------------------------- <span style="font-weight: bold;">Or</span> ---------------------------------</h5>

        <div style="position: relative; width: 100%; padding: 0 15px 0 15px; color: var(--ion-color-dark); font-size: 13px; text-align: center;">
            Don't have a MyRxPal account yet? <a [routerLink]="['/user/sign-up']" style="color: var(--ion-color-success)">Sign up now</a>
        </div>


    </form>
</ion-content>