<ion-content class="ion-no-padding">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" color="secondary" [routerLink]="['/pages/home']">
                <fa-icon icon="angle-left" style="font-size: 20px;"></fa-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <h3 style="text-align: center; padding-right: 20px;">Blog</h3>
        </ion-title>
    </ion-toolbar>
    <ion-card>
        <ion-card-title>
            <h3 style="text-align: center;">Blog title</h3>
        </ion-card-title>
        <div><img src="assets/images/clipboard/ourblog-thumbnail-1.jpg"></div>
        <ion-card-title>
            <h4 style="text-align: center;">Blog subtitle</h4>
        </ion-card-title>
        <ion-card-content class="blog-details">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae provident nobis laboriosam sint dolores, aperiam magni error molestiae distinctio corrupti soluta porro deserunt quae, dolorem unde eveniet nisi ut? <a href="javascript:void(0)"
                    style="color: var(--ion-color-orange)">Read more</a>
            </p>
        </ion-card-content>
        <br>
        <ion-card-content class="blog-comment">
            <h2><b>Comments</b></h2>
            <ion-list class="ion-no-padding">
                <ion-item class="ion-no-padding" lines="none">
                    <ion-input placeholder="username"></ion-input>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none">
                    <ion-input placeholder="Comment Description"></ion-input>
                </ion-item>
            </ion-list>
            <ion-button color="orange" type="button">POST COMMENT</ion-button>
            <br>
            <br>
            <ion-list class="ion-no-padding">
                <ion-item class="ion-no-padding">
                    <ion-label>
                        <h4>Comment User</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </ion-label>
                </ion-item>
                <ion-item class="ion-no-padding">
                    <ion-label>
                        <h4>Comment User</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </ion-label>
                </ion-item>
                <ion-item class="ion-no-padding">
                    <ion-label>
                        <h4>Comment User</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </ion-label>
                </ion-item>
                <ion-item class="ion-no-padding">
                    <ion-label>
                        <h4>Comment User</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </ion-label>
                </ion-item>

            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>