ion-content {
    padding: 0px;
    --padding-end: 0px !important;
    --padding-start: 0px !important;
}

ion-card {
    --padding-end: 0px !important;
    --padding-start: 0px !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    border-top: 1px solid var(--ion-color-orange);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    div {
        width: 100%;
        img {
            border-radius: 5px;
        }
    }
    ion-card-content.blog-details {
        background: var(--ion-color-light);
        border: 1px solid var(--ion-color-medium);
        border-radius: 10px;
    }
}

ion-toolbar {
    --background: transparent;
    --color: var(--ion-toolbar-color, var(--ion-text-color, #424242));
    --border-color: transparent;
}

ion-list {
    --background: transparent;
    ion-item {
        --background: transparent;
        border-color: transparent;
        border-radius: 5px !important;
        margin-bottom: 10px;
        ion-input {
            border: 1px solid #50c8ff !important;
            --padding-start: 5px !important;
            --padding-end: 5px !important;
            border-radius: 5px !important;
            --highlight-color-focused: transparent !important;
            --highlight-color-valid: transparent !important;
            --highlight-color-invalid: transparent !important;
            -moz-box-shadow: 0px 0px 5px #50c8ff;
            -webkit-box-shadow: 0px 0px 5px #50c8ff;
            box-shadow: 0px 0px 5px #50c8ff;
            background: white;
        }
    }
}