<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" style="padding:0px;">
                <div class="welComeTextContents text-center text-md-left d-flex justify-content-center h-100 flex-column">
                    <small class="welcometext color-gray" style="font-size: 15px;">Welcome to Savings!</small>
                    <h3 style="margin-bottom: -15px;">Check <span class="color-cyan">My</span><span class="color-orange">Rx</span>Pal </h3>
                    <h3 style="margin-bottom: -15px;"> <span class="color-orange">First For</span> Medication Prices </h3>
                    <h3 style="margin-bottom: -15px;"><span class="color-green">Before You Go</span> To The Pharmacy </h3>
                </div>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" style="padding:0px;">
                <div class="banner-img mb-3" style="position: relative; width: 100%; height: 100%;"></div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-search-bar (search)="getSearch($event)"></app-search-bar>
    <ion-grid style="padding:0;">
        <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="3" style="padding:0px;">
                <ion-card>
                    <img src="assets/images/clipboard/drugclasses.png">
                    <ion-card-content>
                        <h2>Drug Classes</h2>
                        <br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="3" style="padding:0px;">
                <ion-card>
                    <img src="assets/images/clipboard/couponsbycategory.png">
                    <ion-card-content>
                        <h2>Coupons by Category</h2>
                        <br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="3" style="padding:0px;">
                <ion-card>
                    <img src="assets/images/clipboard/dealsbycategory.png">
                    <ion-card-content>
                        <h2>Deals by Category</h2>
                        <br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="3" style="padding:0px;">
                <ion-card>
                    <img src="assets/images/clipboard/connectwithyourpharmacy.png">
                    <ion-card-content>
                        <h2>Connetc with Your Pharmacy</h2>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12">
                <div class="discountSearchCont sectional-margin-y w-10">
                    <div class="section-header">
                        <h3>How Discount Search Works</h3>
                        <small>Drug prices vary between pharmacies. We help you compare to find the most saving.
                        <br>Shop local and save local. </small>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="discountSearchCont sectional-margin-y w-10">
                    <div class="section-body  discount-bg my-4 position-relative">
                        <img src="assets/images/bannes/steps-bg.svg" class="w-100">
                        <img src="assets/images/clipboard/option-1.svg" class="position-absolute step-1 steps">
                        <img src="assets/images/clipboard/option-2.svg" class="position-absolute step-2 steps">
                        <img src="assets/images/clipboard/option-3.svg" class="position-absolute step-3 steps">
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="discountSearchCont sectional-margin-y w-10">
                    <div class="section-header">
                        <h3>Sample Savings with MyRxPal</h3>
                        <small>Here are examples of the savings available via MyRxPal RxPons™ on popular medications.</small>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12">
                <div class="discountSearchCont sectional-margin-y w-10">
                    <div class="section-body my-4">
                        <ion-list>
                            <ion-item color="light">
                                <ion-thumbnail>
                                    <img src="assets/icon/capsule.png">
                                </ion-thumbnail>
                                <ion-label style="margin-left: 10px;">
                                    <h3><b>Drug:</b> Atorvastatin</h3>
                                    <p><b>Cash Price:</b> $86.70</p>
                                    <p><b>RxPons™ Price:</b> $8.25</p>
                                    <p><b>Savings:</b> 90%</p>
                                </ion-label>
                            </ion-item>
                            <ion-item color="light">
                                <ion-thumbnail>
                                    <img src="assets/icon/capsule.png">
                                </ion-thumbnail>
                                <ion-label style="margin-left: 10px;">
                                    <h3><b>Drug:</b> Atorvastatin</h3>
                                    <p><b>Cash Price:</b> $86.70</p>
                                    <p><b>RxPons™ Price:</b> $8.25</p>
                                    <p><b>Savings:</b> 90%</p>
                                </ion-label>
                            </ion-item>
                            <ion-item color="light">
                                <ion-thumbnail>
                                    <img src="assets/icon/capsule.png">
                                </ion-thumbnail>
                                <ion-label style="margin-left: 10px;">
                                    <h3><b>Drug:</b> Atorvastatin</h3>
                                    <p><b>Cash Price:</b> $86.70</p>
                                    <p><b>RxPons™ Price:</b> $8.25</p>
                                    <p><b>Savings:</b> 90%</p>
                                </ion-label>
                            </ion-item>
                            <ion-item color="light">
                                <ion-thumbnail>
                                    <img src="assets/icon/capsule.png">
                                </ion-thumbnail>
                                <ion-label style="margin-left: 10px;">
                                    <h3><b>Drug:</b> Atorvastatin</h3>
                                    <p><b>Cash Price:</b> $86.70</p>
                                    <p><b>RxPons™ Price:</b> $8.25</p>
                                    <p><b>Savings:</b> 90%</p>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
                <div class="section-panel-header text-left pb-3 pt-5">
                    <h3 class="color-green fw-bold whymyrxpaltitle">Why MyRxPal is Your Best Choice </h3>
                </div>
                <div class="section-panel-body text-left d-flex flex-column align-items-start">
                    <span class="text-left xs-font color-black whymyrxpaldescription">Sed ut perspiciatis unde omnis iste natus error sit volup accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architeo beatae vitae dicta sunt explicabo. <br><br>
      
                      Nemo enim ipsam atem quia voluptas sit aspernatur aut odit aut fugit, sed quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quim est, qui dolorem ipsum ia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius di tempora incidunt ut labore et ore magnam aliquam qulrat voluptatem. <br><br>
                      
                      Ut enim ad minima veniam, quis nostru itanem ullam poris suscipit laboriosam, nisi ut aliquid ex ea cmodi consequatur.Nemo enim ipsam atem quia voluptas sit aspernatur aut odit aut fugit, sed quuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  ut labore et ore magnam aliquam qulrat voluptatem. 
                    </span>
                    <ion-button color="success" expand="block">Browse Pharmacies</ion-button>
                </div>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" style="padding:0;">
                <ion-grid style="padding:0;">
                    <ion-row>
                        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" style="padding:0;">
                            <ion-card color="success" style="padding: 0;">
                                <ion-card-content>
                                    <img src="assets/icon/option1.svg" style="width: 30%;">
                                    <h1>Transparency</h1>
                                    <br>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                    <br>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" style="padding:0;">
                            <ion-card color="light" style="padding: 0;">
                                <ion-card-content>
                                    <img src="assets/icon/option2.svg" style="width: 30%;">
                                    <h1 class=" option-title">Accessibility</h1>
                                    <br>
                                    <p class="option-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                    <br>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" style="padding:0;">
                            <ion-card color="light" style="padding: 0;">
                                <ion-card-content>
                                    <img src="assets/icon/option3.svg" style="width: 30%;">
                                    <h1 class=" option-title">Customized</h1>
                                    <br>
                                    <p class="option-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                    <br>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" style="padding:0;">
                            <ion-card color="light" style="padding: 0;">
                                <ion-card-content>
                                    <img src="assets/icon/option4.svg" style="width: 30%;">
                                    <h1 class=" option-title">Guidance</h1>
                                    <br>
                                    <p class="option-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                    <br>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
            <img src="assets/images/clipboard/howwegetdiscount.svg" class="w-100 howgetdiscountimg">
        </ion-col>
        <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
            <div class="howdiscounthappen-header">
                <h3 class="color-orange">From Pharmacy to Discount and Everything in Between</h3>
            </div>
            <div class="howdiscounthappen-body">
                <p>Sed ut perspiciatis unde omnis iste natus error sit volup accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architeo beatae vitae dicta sunt explicabo. <br><br> Nemo enim ipsam atem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quim est, qui dolorem ipsum ia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                    di tempora incidunt ut labore et ore magnam aliquam qulrat voluptatem. </p>
            </div>
        </ion-col>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="section-header">
                    <h3>Check Out Our Blog</h3>
                    <small>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</small>
                </div>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="3">
                <ion-card>
                    <img src="assets/images/clipboard/ourblog-thumbnail-1.jpg">
                    <ion-card-content>
                        <h1>Sed ut</h1>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        <ion-button color="orange" expand="block">Read More</ion-button>
                        <br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="3">
                <ion-card>
                    <img src="assets/images/clipboard/ourblog-thumbnail-2.jpg">
                    <ion-card-content>
                        <h1>Sed ut</h1>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        <ion-button color="orange" expand="block">Read More</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="3">
                <ion-card>
                    <img src="assets/images/clipboard/ourblog-thumbnail-3.jpg">
                    <ion-card-content>
                        <h1>Sed ut</h1>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        <ion-button color="orange" expand="block">Read More</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="4" sizeLg="3" sizeXl="3">
                <ion-card>
                    <img src="assets/images/clipboard/ourblog-thumbnail-1.jpg">
                    <ion-card-content>
                        <h1>Sed ut</h1>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                        <ion-button color="orange" expand="block">Read More</ion-button>
                        <br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>