<ion-content [fullscreen]="true">
    <form [formGroup]="formRegister" (ngSubmit)="sendRegister()">

        <div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; padding: 0 15px 0 15px; margin-top: 30px; margin-bottom: 30px;">
            <img src="assets/imgs/logo.png" style="position: relative; width: 45%; margin-bottom: 10px;">
        </div>
        <div style="position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; padding: 0 15px 0 15px; margin-top: 30px; margin-bottom: 30px;">
            <h4 style="color: var(--ion-color-dark); font-weight: bold; text-align: center;">Sign Up check out MyRxPal - <br> it's free</h4>
        </div>

        <ion-list>
            <ion-item lines="none">
                <ion-input type="text" placeholder="Enter First name" formControlName="first_name"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.first_name">
                <div class="error-message" *ngIf="formRegister.get('first_name').hasError(validation.type) && (formRegister.get('first_name').dirty || formRegister.get('first_name').touched)">
                    <ion-item lines="none">
                        <span style="color: var(--ion-color-danger)">{{ validation.message }}</span>
                    </ion-item>
                </div>
            </ng-container>
            <ion-item lines="none">
                <ion-input type="text" placeholder="Enter Last Name" formControlName="last_name"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.last_name">
                <div class="error-message" *ngIf="formRegister.get('last_name').hasError(validation.type) && (formRegister.get('last_name').dirty || formRegister.get('last_name').touched)">
                    <ion-item lines="none">
                        <span style="color: var(--ion-color-danger)">{{ validation.message }}</span>
                    </ion-item>
                </div>
            </ng-container>
            <ion-item lines="none">
                <ion-input type="text" placeholder="Enter Email/ Mobile Number" formControlName="userlink"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.userlink">
                <div class="error-message" *ngIf="formRegister.get('userlink').hasError(validation.type) && (formRegister.get('userlink').dirty || formRegister.get('userlink').touched)">
                    <ion-item lines="none">
                        <span style="color: var(--ion-color-danger)">{{ validation.message }}</span>
                    </ion-item>
                </div>
            </ng-container>
            <ion-item lines="none">
                <ion-input type="password" placeholder="Enter Password" formControlName="password1"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.password1">
                <div class="error-message" *ngIf="formRegister.get('password1').hasError(validation.type) && (formRegister.get('password1').dirty || formRegister.get('password1').touched)">
                    <ion-item lines="none">
                        <span style="color: var(--ion-color-danger)">{{ validation.message }}</span>
                    </ion-item>
                </div>
            </ng-container>
            <ion-item lines="none">
                <ion-note style="width:100%;text-align: right;">at least 8 characters, but longer is better</ion-note>
            </ion-item>
            <ion-item lines="none">
                <ion-toggle color="orange" formControlName="offerpromotion"></ion-toggle>
                <div style="position: relative; width: 100%; margin-bottom: 15px;">
                    <ion-note>
                        Receive relevant offers and promotional communication from MyRxPal
                    </ion-note>
                </div>
            </ion-item>

        </ion-list>

        <div style="position: relative; width: 100%; padding: 0 15px 0 15px; text-align: center; align-items: center; align-content: center;">
            <ion-button type="button" color="secondary" [disabled]="disabledOtp || formRegister.get('userlink').invalid" (click)="sendOtp()">SEND OTP</ion-button>
        </div>

        <ion-list>
            <ion-item lines="none">
                <ion-input type="text" placeholder="Enter Code" formControlName="otp" (keyup)="validateOtp()"></ion-input>
            </ion-item>
        </ion-list>

        <div style="position: relative; width: 100%; padding: 0 15px 0 15px; text-align: center; margin-bottom: 15px; color:var(--ion-color-darkmedium)">
            Did'nt receive your code? <a href="javascript:void(0)" (click)="sendOtp()" style="color: var(--ion-color-secondary)">Resend code</a>
            <br>
            <br>
            <ion-button color="success" expand="block" type="submit" [disabled]="formRegister.invalid || !validOtp">SUBMIT</ion-button>
            <p>By signing up, you are indicating that you have read and agree to the
                <br>
                <a [routerLink]="['']" style="color: var(--ion-color-orange);"> Terms of Use</a> and <a [routerLink]="['']" style="color: var(--ion-color-orange);">Policy Privacy.</a></p>
        </div>

        <h5 style="text-align: center; color: var(--ion-color-darkmedium)">Or</h5>

        <div style="position: relative; width: 100%; padding: 0 15px 0 15px; text-align: center; color: var(--ion-color-darkmedium)">
            Already have an account yet?
            <a [routerLink]="['/user/sign-in']" style="color: var(--ion-color-success);"> Sign In</a>
        </div>

    </form>
</ion-content>