ion-input {
    border: 1px solid #acacac !important;
    --padding-start: 5px !important;
    --padding-end: 5px !important;
    border-radius: 5px !important;
    --highlight-color-focused: transparent !important;
    --highlight-color-valid: transparent !important;
    --highlight-color-invalid: transparent !important;
}

ion-card {
    border-radius: 20px !important;
}

ion-list {
    --background: transparent;
    ion-item {
        --background: transparent;
        border-color: transparent;
        border-radius: 15px !important;
        ion-input {
            border: 1px solid #e6861f !important;
            --padding-start: 5px !important;
            --padding-end: 5px !important;
            border-radius: 15px !important;
            --highlight-color-focused: transparent !important;
            --highlight-color-valid: transparent !important;
            --highlight-color-invalid: transparent !important;
            -moz-box-shadow: 0px 0px 5px #e6861f;
            -webkit-box-shadow: 0px 0px 5px #e6861f;
            box-shadow: 0px 0px 5px #e6861f;
            background: white;
        }
    }
}

ion-item {
    --background: transparent;
}