/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: 'Product sans', 'sans-serif';
    src: url('./assets/fonts/ProductSans-Bold.ttf');
}

@font-face {
    font-family: 'Product sans';
    src: url('./assets/fonts/ProductSans-Regular.ttf');
}

html,
body {
    height: 100% !important;
    width: 100%;
    font-family: 'Product sans' !important;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
span,
section,
footer,
header {
    font-family: 'Product sans' !important;
}

:root {
    /* colors */
    --orange: #FE9525;
    --cyan: #14A7EC;
    --black: #050931;
    --green: #55BC7E;
    --gray: rgba(112, 112, 112, 0.3);
    --body-color: #FEFEFE;
    --white: #FFFFFF;
    --darkblue: rgba(5, 9, 49, 0.4);
}

.color-orange {
    color: var(--orange);
}

.color-green {
    color: var(--green);
}

.color-gray {
    color: var(--gray);
}

.color-darkblue {
    color: var(--darkblue) !important;
}

.color-cyan {
    color: var(--cyan);
}

.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white) !important;
}

.bg-green {
    background: var(--green);
}

.bg-orange {
    background: var(--orange);
}

.banner-img {
    background: url('./assets/images/bannes/banner.svg');
    width: 100%;
    height: 100%;
    min-height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.ion-color-orange {
    --ion-color-base: var(--ion-color-orange, #fe9525) !important;
    --ion-color-base-rgb: var(--ion-color-orange-rgb, 254, 149, 37) !important;
    --ion-color-contrast: var(--ion-color-orange-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-orange-shade, #e6861f) !important;
    --ion-color-tint: var(--ion-color-orange-tint, #fa8a13) !important;
}

.ion-color-darkblue {
    --ion-color-base: var(--ion-color-darkblue, #05093166) !important;
    --ion-color-base-rgb: var(--ion-color-darkblue-rgb, 5, 9, 49) !important;
    --ion-color-contrast: var(--ion-color-darkblue-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-darkblue-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-darkblue-shade, #03052066) !important;
    --ion-color-tint: var(--ion-color-darkblue-tint, #02063866) !important;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-content {
    --background: #ecf1f4;
}

.section-header h3 {
    color: var(--black);
    font-size: 36px;
    font-weight: bold;
}

.section-header small {
    color: var(--gray);
    font-size: 20px;
    font-weight: normal;
}

.steps {
    width: 46%;
}

.step-1 {
    top: 17%;
    right: 6%;
}

.step-2 {
    top: 34%;
    right: 26%;
}

.step-3 {
    top: 51%;
    left: 5%;
}

.section-body {
    background: #ECF1F4;
}

.position-absolute {
    position: absolute!important;
}

ion-list {
    background: transparent !important;
}

.whymyrxpaldescription {
    line-height: 30px;
    color: rgba(5, 9, 49, 0.5);
}

.option-text {
    color: rgba(5, 9, 49, 0.5)
}

.option-title {
    color: rgba(5, 9, 49, 1)
}

.howgetdiscountimg {
    width: 60% !important;
    transform: translateX(0) !important;
}

.howdiscounthappen-header h3 {
    font-size: 39px;
    font-weight: bold;
    margin-bottom: 30px;
}

.howgetdiscountimg {
    transform: translateX(-10%);
}

.howdiscounthappen-body p {
    line-height: 30px;
    font-size: 18px;
    color: rgba(5, 9, 29, 0.5)
}

.error-message {
    color: var(--ion-color-danger);
}

ion-input {
    --padding-start: 5px !important;
    --padding-end: 5px !important;
    border-radius: 5px !important;
    --highlight-color-focused: transparent !important;
    --highlight-color-valid: transparent !important;
    --highlight-color-invalid: transparent !important;
}

a {
    text-decoration: none;
}